/* Estilos gerais */

/* IMAGEM e link */



/* Define o fundo preto para o site inteiro */
body {
    background-color: black !important;   /* Cor de fundo preta */
    color: white !important;              /* Cor do texto em branco para contrastar com o fundo preto */
    font-family: Arial, sans-serif;  /* Fonte para o texto */
    margin: 0;                  /* Remove margens padrões do navegador */
    padding: 0;                 /* Remove o padding padrão */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Estilo do Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;  /* Organiza o logo e ícones nas extremidades */
    align-items: center;
    background-color: black;        /* Fundo preto */
    margin-bottom: 0; /* Reduzindo a margem inferior do cabeçalho */
    padding: 10px 20px;             /* Espaçamento interno */
}

.logo-container .logo {
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    height: 35px;                   /* Ajuste o tamanho do logo conforme necessário */
    text-align: left;
    padding-left: -50px; /* Empurra o conteúdo para a esquerda */
}


.social-icons {
    display: flex;
    gap: 15px;                      /* Espaço entre os ícones */
}

.social-icon i {
    color: white;                   /* Cor dos ícones */
    font-size: 24px;                 /* Tamanho dos ícones */
    text-decoration: none;           /* Remove sublinhado do link */
}

.social-icon:hover i {
    color: #f39c12;                  /* Cor ao passar o mouse (opcional) */
}



/* Fim  */


/* Menu Horizontal Scrool*/


/********/
/* Posts 1 Estilo */
/* Reseta estilos padrão */



/* Fotter Final */

